@import "compass";

@import "custom/color";

@import "base";
@import "parts";
@import "plugins";


#sheets-viewport {
  width: 100%;
}

#sheets-iframe {
  width: 100%;
  height: 100vh;
}

.signature-wrapper {
  width: 200px;
  height: 200px;
  display: block;

  background-image: url(/images/pages/signature.png);
  background-position: 0 0;
  background-size: cover;
}
